name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Generate Wrapper and Build
        run: |
          # توليد المحرك الأصلي داخل السيرفر
          gradle wrapper --gradle-version 8.4
          chmod +x gradlew
          # تنظيف وبناء التطبيق
          ./gradlew assembleDebug --stacktrace

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: CookieBrowser-Final
          path: app/build/outputs/apk/debug/*.apk
